type accelerateboot, domain;
type accelerateboot_exec, exec_type, file_type;
type accel_data_file, file_type;

init_daemon_domain(accelerateboot)

allow accelerateboot sysfs:file { read write open getattr };
allow accelerateboot proc:file { read write open getattr };
unix_socket_connect(accelerateboot, property, init);

# Property Service write
allow accelerateboot system_prop:property_service set;
allow accelerateboot debug_prop:property_service set;

allow accelerateboot init_tmpfs:file create_file_perms;

allow accelerateboot device:dir write;
allow accelerateboot init:unix_stream_socket connectto;
allow accelerateboot kmsg_device:chr_file { open write };
allow accelerateboot property_socket:sock_file write;

allow accelerateboot debugfs_tracing:dir read;
allow accelerateboot debugfs_tracing:dir open;
allow accelerateboot debugfs_tracing:file w_file_perms;
allow accelerateboot debugfs_tracing:file r_file_perms;
allow accelerateboot debugfs_tracing:file rw_file_perms;
allow accelerateboot system_data_file:dir add_name;

allow accelerateboot shell_exec:file { execute execute_no_trans getattr open read };
allow shell accel_data_file:file { execute open read write };
allow accelerateboot accel_data_file:dir { read write search setattr create add_name mounton create_dir_perms };
allow accelerateboot accel_data_file:file { getattr create open read write };

### audit2allow generated
#Never allowed: keystore, keychain, vold
allow accelerateboot accel_data_file:file { rename setattr unlink };
allow accelerateboot adb_keys_file:dir { getattr open read };
allow accelerateboot adb_keys_file:file getattr;
allow accelerateboot apk_data_file:dir { getattr open read };
allow accelerateboot apk_private_data_file:dir { getattr open read };
allow accelerateboot app_data_file:dir { getattr open read search };
allow accelerateboot app_data_file:file { getattr open read };
allow accelerateboot app_data_file:lnk_file getattr;
allow accelerateboot asec_image_file:dir { getattr open read };
allow accelerateboot atrace_exec:file { getattr read };
allow accelerateboot audioserver_data_file:dir { getattr open read };
allow accelerateboot audioserver_exec:file { getattr open read };
allow accelerateboot backup_data_file:dir search;
allow accelerateboot backup_data_file:file { open read };
allow accelerateboot bcmdl_exec:file { getattr open read };
allow accelerateboot blkid_exec:file getattr;
allow accelerateboot bluetooth_data_file:dir { getattr open read search };
allow accelerateboot bluetooth_data_file:file { getattr open read };
allow accelerateboot bluetooth_data_file:lnk_file getattr;
allow accelerateboot bluetooth_logs_data_file:dir { getattr open read };
allow accelerateboot bootanim_exec:file { getattr open read };
allow accelerateboot bootchart_data_file:dir { getattr open read search };
allow accelerateboot bootchart_data_file:file getattr;
allow accelerateboot bootstat_data_file:dir { getattr open read search };
allow accelerateboot bootstat_data_file:file { getattr open read };
allow accelerateboot bootstat_exec:file { getattr open read };
allow accelerateboot boottrace_data_file:dir { getattr open read search };
allow accelerateboot bootvideo_exec:file getattr;
allow accelerateboot cache_file:dir search;
allow accelerateboot cameraserver_exec:file { getattr open read };
allow accelerateboot clatd_exec:file getattr;
allow accelerateboot dalvikcache_data_file:dir { getattr open read search };
allow accelerateboot dalvikcache_data_file:file { getattr open read };
allow accelerateboot dalvikcache_data_file:lnk_file getattr;
allow accelerateboot debuggerd_exec:file { getattr open read };
allow accelerateboot dex2oat_exec:file getattr;
allow accelerateboot dhcp_data_file:dir { getattr open read };
allow accelerateboot dnsmasq_exec:file getattr;
allow accelerateboot drm_data_file:dir search;
allow accelerateboot drm_data_file:file { open read };
allow accelerateboot drmserver_exec:file { getattr open read };
allow accelerateboot dumpstate_exec:file getattr;
allow accelerateboot fsck_exec:file { getattr open read };
allow accelerateboot gatekeeper_data_file:dir { getattr open read search };
allow accelerateboot gatekeeper_data_file:file getattr;
allow accelerateboot gatekeeperd_exec:file { getattr open read };
allow accelerateboot hdcp_tx22_exec:file getattr;
allow accelerateboot hdmi_cec_exec:file { getattr open read };
allow accelerateboot hostapd_exec:file getattr;
allow accelerateboot idmap_exec:file getattr;
allow accelerateboot imageserver_exec:file { getattr open read };
allow accelerateboot install_data_file:file { open read };
allow accelerateboot installd_exec:file { getattr open read };
allow accelerateboot lmkd_exec:file { getattr open read };
allow accelerateboot log_file:dir search;
allow accelerateboot log_file:file { open read };
allow accelerateboot logcat_exec:file { getattr open read };
allow accelerateboot logd_exec:file { getattr open read };
allow accelerateboot make_ext4fs_exec:file getattr;
allow accelerateboot mdnsd_exec:file getattr;
allow accelerateboot media_data_file:dir { getattr open read };
allow accelerateboot mediacodec_exec:file { getattr open read };
allow accelerateboot mediadrmserver_exec:file { getattr open read };
allow accelerateboot mediaextractor_exec:file { getattr open read };
allow accelerateboot mediaserver_exec:file { getattr open read };
allow accelerateboot method_trace_data_file:dir { getattr open read };
allow accelerateboot misc_user_data_file:dir { getattr open read search };
allow accelerateboot mtp_exec:file getattr;
allow accelerateboot net_data_file:dir { getattr open read search };
allow accelerateboot net_data_file:file getattr;
allow accelerateboot netd_exec:file { getattr open read };
allow accelerateboot perfprofd_data_file:dir { getattr open read };
allow accelerateboot perfprofd_exec:file { getattr open read };
allow accelerateboot ppp_data_file:dir { getattr open read search };
allow accelerateboot ppp_exec:file getattr;
allow accelerateboot ppp_system_file:dir { getattr open read search };
allow accelerateboot ppp_system_file:file getattr;
allow accelerateboot pppoe_wrapper_exec:file { getattr open read };
allow accelerateboot profman_dump_data_file:dir { getattr open read };
allow accelerateboot profman_exec:file getattr;
allow accelerateboot property_data_file:dir { getattr open read search };
allow accelerateboot property_data_file:file { getattr open read };
allow accelerateboot racoon_exec:file getattr;
allow accelerateboot radio_data_file:dir { getattr open read search };
allow accelerateboot remotecfg_exec:file { getattr open read };
allow accelerateboot rootfs:lnk_file getattr;
allow accelerateboot runas_exec:file getattr;
allow accelerateboot sdcardd_exec:file { getattr open read };
allow accelerateboot self:capability dac_override;
allow accelerateboot servicemanager_exec:file { getattr open read };
allow accelerateboot sgdisk_exec:file getattr;
allow accelerateboot shared_relro_file:dir { getattr open read search };
allow accelerateboot shared_relro_file:file { getattr open read };
allow accelerateboot shell_data_file:dir { getattr read };
allow accelerateboot su_exec:file { getattr open read };
allow accelerateboot surfaceflinger_exec:file { getattr open read };
allow accelerateboot system_app_data_file:dir { getattr open read search };
allow accelerateboot system_app_data_file:file { getattr open read };
allow accelerateboot system_app_data_file:lnk_file getattr;
allow accelerateboot system_control_exec:file { getattr open read };
allow accelerateboot system_data_file:dir { open read };
allow accelerateboot system_data_file:file { getattr open read };
allow accelerateboot system_file:dir { open read };
allow accelerateboot system_file:file execute_no_trans;
allow accelerateboot system_file:lnk_file getattr;
allow accelerateboot system_wpa_socket:sock_file getattr;
allow accelerateboot systemkeys_data_file:dir { getattr open read };
allow accelerateboot tombstone_data_file:dir { getattr open read };
allow accelerateboot tombstone_data_file:file getattr;
allow accelerateboot toolbox_exec:file { getattr open read };
allow accelerateboot tzdatacheck_exec:file { getattr open read };
allow accelerateboot uncrypt_exec:file getattr;
allow accelerateboot unlabeled:dir getattr;
allow accelerateboot update_engine_data_file:dir { getattr open read };
allow accelerateboot usbpm_exec:file { getattr open read };
allow accelerateboot user_profile_data_file:dir { getattr open read search };
allow accelerateboot user_profile_data_file:file getattr;
allow accelerateboot user_profile_foreign_dex_data_file:dir { getattr open read };
allow accelerateboot vdc_exec:file { getattr open read };
allow accelerateboot vpn_data_file:dir { getattr open read };
allow accelerateboot wifi_data_file:dir { getattr open read search };
allow accelerateboot wifi_data_file:file { getattr open read };
allow accelerateboot wpa_exec:file { getattr open read };
allow accelerateboot wpa_socket:dir { getattr open read search };
allow accelerateboot wpa_socket:sock_file getattr;
allow accelerateboot zygote_exec:file { getattr open read };
