allow cameraserver hal_graphics_allocator_default_tmpfs:file rw_file_perms;
allow hal_camera_default ge2d_device:chr_file rw_file_perms;
allow hal_camera_default video_device:chr_file { read write open };
allow hal_camera_default vendor_video_device:chr_file { read write open };
allow hal_camera_default codec_device:chr_file { read write open };

allow hal_camera_default sysfs:dir  { open read };
allow hal_camera_default sysfs:file  { open read write };
allow hal_camera_default hal_graphics_composer_default:fd use;
allow hal_camera_default input_device:dir search;
allow hal_camera_default input_device:chr_file { read open };
