type systemcontrol_hwservice, hwservice_manager_type;
type hdmicecd_hwservice, hwservice_manager_type;
type droidvold_hwservice, hwservice_manager_type;
