allow keystore app_data_file:file rw_file_perms;
allow keystore tmpfs:filesystem associate;
allow keystore tmpfs:chr_file { read write open };
allow keystore drm_device:chr_file  {open read write ioctl};

allow keystore init_tmpfs:file create_file_perms;
