allow mediacodec init_tmpfs:file create_file_perms;
allow mediacodec system_control_service:service_manager find;
allow mediacodec drm_device:chr_file {setattr read write open ioctl};
allow mediaserver mediactl_video_device:chr_file {read write open ioctl};
allow mediacodec sysfs:file  { open read write};
allow mediacodec sysfs_xbmc:file  { open read write};
allow mediacodec audioserver_service:service_manager find;
allow mediacodec uio_device:chr_file rw_file_perms;
allow mediacodec audio_device:chr_file rw_file_perms;
allow mediacodec dvb_video_device:chr_file rw_file_perms;
allow mediacodec media_prop:property_service set;
allow mediacodec property_socket:sock_file rw_file_perms;
allow mediacodec init:unix_stream_socket connectto;
get_prop(mediacodec, media_prop)
set_prop(mediacodec, media_prop)
