allow netd kernel:system module_request;
allow netd self:capability sys_module;

allow netd init_tmpfs:file create_file_perms;

allow netd servicemanager:binder call;
