allow platform_app sysfs_xbmc:file {rw_file_perms};
allow platform_app usb_device:dir {open read};
#allow platform_app video_device:chr_file {open read write ioctl};
allow platform_app system_control_service:service_manager find;
allow platform_app subtitle_service:service_manager find;
allow platform_app system_control_service:dir { read open search };
allow platform_app imageserver_service:service_manager find;

allow platform_app mediadrmserver_service:service_manager find;
allow platform_app loop_device:dir { open read };

allow platform_app iso9660:dir { search open read getattr };
allow platform_app iso9660:file { open read getattr };

allow platform_app udf:dir { search open read getattr };
allow platform_app udf:file { open read getattr };

allow platform_app fuseblk:dir create_dir_perms;
allow platform_app fuseblk:file create_file_perms;

allow platform_app tvserver_service:service_manager find;
allow system_app unlabeled:dir { search read write getattr };
allow system_app unlabeled:file { lock open read write getattr };
allow priv_app media_prop:file { read };
get_prop(platform_app, media_prop)
get_prop(system_app, media_prop)
