allow shell rootfs:file { entrypoint execute read getattr };
allow shell sysfs:file { read open getattr };
allow shell tee_data_file:dir getattr;

allow shell hdcptx_device:chr_file { open read write getattr ioctl };

