allow surfaceflinger sysfs:file write;
allow surfaceflinger sysfs_xbmc:file {open read write};
allow surfaceflinger system_control_service:service_manager find;
allow surfaceflinger sw_sync_device:chr_file { open read write ioctl };
allow surfaceflinger ge2d_device:chr_file { open read write ioctl };

allow mediaserver mediactl_video_device:chr_file {read write open ioctl};
allow surfaceflinger display_device:chr_file { open read ioctl };

allow surfaceflinger sysfs_fb0_blank:file { open read write };
get_prop(surfaceflinger, tv_prop)
set_prop(surfaceflinger, ctl_default_prop)

allow surfaceflinger init_tmpfs:file create_file_perms;
allow surfaceflinger dvb_video_device:chr_file { open read write ioctl };
