allow zygote cpuctl_device:dir search;
allow zygote self:process execmem;
allow zygote mediaserver:process { getpgid setpgid };
#allow zygote system_file:file execmod;
allow zygote untrusted_app:process ptrace;

allow zygote init_tmpfs:file create_file_perms;
get_prop(zygote, media_prop)
