import init.amlogic.usb.rc

on early-init
    loglevel 3

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/class/freq_limit/limit 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_dflt_freq 2016000

    mount configfs configfs /sys/kernel/config
    #mount usbfs none /proc/bus/usb

    insmod /boot/optee.ko
    insmod /boot/optee_armtz.ko

on init

on property:dev.bootcomplete=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

on post-fs-data
    insmod /system/lib/mali.ko mali_debug_level=2 mali_shared_mem_size=0x40000000

on boot
    setprop ro.radio.noril true
    write /sys/class/freq_limit/limit 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_dflt_freq 2016000

#UART
    chmod 666 /dev/ttyS4

#uboot env
    chmod 666 /dev/block/env

#HDMI IN
    chmod 666 /sys/class/sii9233a/port
    chmod 666 /sys/class/sii9233a/enable
    chmod 666 /sys/module/tvin_vdin/parameters/max_buf_num

    #chmod 0666 /dev/amstream_sub_read

#    insmod  /system/lib/audio_data.ko

    # chmod 0666 /dev/ge2d
    chmod 666 /dev/cec
    chmod 0666 /dev/opteearmtz00
    chmod 0666 /dev/tee0

on fs
on post-fs-data
   mkdir  /data/tee

service tee_supplicant /system/bin/tee-supplicant
		class main
		oneshot
		seclabel u:r:tee:s0

