on early-init
    loglevel 3

on init

on post-fs-data
    insmod /vendor/lib/modules/mali.ko
    insmod /odm/lib/modules/dovi.ko
    insmod /vendor/lib/sl_hdr.ko
    insmod /vendor/lib/modules/atbm8881_fe.ko
    insmod /vendor/lib/modules/aml_hardware_dmx.ko

on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/module/amvdec_mh264/parameters/reorder_dpb_size_margin 9
    write /sys/module/amvdec_h265/parameters/dynamic_buf_num_margin 9
    write /sys/module/amvdec_vp9/parameters/max_buf_num 12

on property:ro.boot.oem.key1=*
    setprop ro.oem.key1 ${ro.boot.oem.key1}

#uboot env
    chmod 666 /dev/block/env

#led
    chmod 666 /sys/class/leds/sys_led/trigger
    chmod 666 /sys/class/redled/mode

#cooling fan
    chmod 666 /sys/class/fan/mode
    chmod 666 /sys/class/fan/level
    chmod 666 /sys/class/fan/enable

#wol
    chmod 666 /sys/class/wol/enable
