on early-init
    insmod /boot/dwc3.ko

on init

on fs

on boot
service console /sbin/sh
    seclabel u:r:shell:s0
    console

service remotecfg3 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab3 -d
    oneshot
    seclabel u:r:shell:s0

service remotecfg1 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab1 -d
    oneshot
    seclabel u:r:shell:s0

service remotecfg2 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab2 -d
    oneshot
    seclabel u:r:shell:s0